[submodule "src/fourier-feature-networks"]
	path = src/fourier-feature-networks
	url = git@github.com:saurabheights/fourier-feature-networks.git
[submodule "src/siren"]
	path = src/siren
	url = git@github.com:vsitzmann/siren.git
